# Python 缓存文件
__pycache__/
*.py[cod]
*.pyo

# 虚拟环境
.venv/
venv/
env/

# VSCode 设置
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 检查点和模型文件
checkpoints/
!checkpoints/.gitkeep

# 处理后的数据
processed_data/
!processed_data/.gitkeep

# 忽略 figures 文件夹
figures/
!figures/.gitkeep

# 日志和输出
*.log
*.out

# 系统文件
.DS_Store
Thumbs.db

# 环境变量
*.env